Repository root-signals/rs-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-sdk-python, check-sdk-typescript

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format

  - repo: local
    hooks:
      - id: check-sdk-python
        name: "Run Python checks"
        language: system
        files: ^python/
        types_or: [markdown, python]
        pass_filenames: false
        entry: make -C python pre-commit

      - id: check-sdk-typescript
        name: "Run TypeScript checks"
        language: system
        files: ^typescript/
        types_or: [javascript, ts, json, yaml]
        pass_filenames: false
        entry: npm --prefix typescript run ci-pr-check

Add typedocs to gh pages
  .github/workflows/generate-documentation.yaml
  .github/workflows/generate_documentation.yaml
  typescript/.gitignore
  typescript/package-lock.json
  typescript/package.json
  typescript/typedoc.json
Due: check-sdk-typescript

Python SDK release 1.6.2
  python/docs/CHANGELOG.md
  python/src/root/__about__.py
Due: check-sdk-python

deploy: ed1b4afafc5e09f3cfac5015f80ea2ba774831c2
  CHANGELOG.html
  _sources/CHANGELOG.md.txt
  index.html
  objects.inv
  release_notes.html
  searchindex.js
  ts/classes/DatasetsResource.html
  ts/classes/RootSignals.html
  ts/classes/RootSignalsError.html
  ts/interfaces/ClientConfig.html
  ts/interfaces/CreateJudgeData.html
  ts/interfaces/CreateModelData.html
  ts/interfaces/CreateObjectiveData.html
  ts/interfaces/EvaluatorListParams.html
  ts/interfaces/ExecutionLogListParams.html
  ts/interfaces/ExecutionPayload.html
  ts/interfaces/JudgeExecutionPayload.html
  ts/interfaces/JudgeListParams.html
  ts/interfaces/ListParams.html
  ts/interfaces/ModelListParams.html
  ts/interfaces/ObjectiveListParams.html
  ts/interfaces/PaginatedResponse.html
  ts/interfaces/UpdateJudgeData.html
  ts/interfaces/UpdateModelData.html
  ts/interfaces/UpdateObjectiveData.html
  ts/types/EvaluatorDetail.html
  ts/types/EvaluatorListItem.html
  ts/types/ExecutionLogDetails.html
  ts/types/ExecutionLogList.html
  ts/types/ExecutionResult.html
  ts/types/Judge.html
  ts/types/JudgeDetail.html
  ts/types/JudgeExecutionResult.html
  ts/types/ModelDetail.html
  ts/types/ModelList.html
  ts/types/ObjectiveDetail.html
  ts/types/ObjectiveList.html
Due: none

Add run judge by name to python SDK
  python/openapi.yaml
  python/src/root/generated/openapi_aclient/api/execution_logs_api.py
  python/src/root/generated/openapi_aclient/api/judges_api.py
  python/src/root/generated/openapi_aclient/models/evaluator.py
  python/src/root/generated/openapi_aclient/models/evaluator_request.py
  python/src/root/generated/openapi_aclient/models/judge.py
  python/src/root/generated/openapi_aclient/models/judge_generator_request.py
  python/src/root/generated/openapi_aclient/models/judge_request.py
  python/src/root/generated/openapi_aclient/models/patched_evaluator_request.py
  python/src/root/generated/openapi_aclient/models/patched_judge_request.py
  python/src/root/generated/openapi_aclient_README.md
  python/src/root/generated/openapi_client/api/execution_logs_api.py
  python/src/root/generated/openapi_client/api/judges_api.py
  python/src/root/generated/openapi_client/models/evaluator.py
  python/src/root/generated/openapi_client/models/evaluator_request.py
  python/src/root/generated/openapi_client/models/judge.py
  python/src/root/generated/openapi_client/models/judge_generator_request.py
  python/src/root/generated/openapi_client/models/judge_request.py
  python/src/root/generated/openapi_client/models/patched_evaluator_request.py
  python/src/root/generated/openapi_client/models/patched_judge_request.py
  python/src/root/generated/openapi_client_README.md
  python/src/root/judges.py
  python/tests/test_judges.py
Due: check-sdk-python

Add CLI
  .github/workflows/generate-documentation.yaml
  .github/workflows/validate-cli.yaml
  cli/.gitignore
  cli/.python-version
  cli/Makefile
  cli/README.md
  cli/cli.py
  cli/install.sh
  cli/pyproject.toml
  cli/tests/__init__.py
  cli/tests/test_cli.py
  cli/uv.lock
Due: none

Add judge run by name to typescript SDK
  typescript/README.md
  typescript/src/generated/types.ts
  typescript/src/resources/evaluators.ts
  typescript/src/resources/judges.ts
  typescript/tests/unit/evaluators.test.ts
  typescript/tests/unit/judges.test.ts
Due: check-sdk-typescript

deploy: d3a6337e769853ed4a5b377c472af44809f774da
  cli/cli.py
  cli/install.sh
  ts/classes/DatasetsResource.html
  ts/classes/RootSignals.html
  ts/classes/RootSignalsError.html
  ts/interfaces/ClientConfig.html
  ts/interfaces/CreateJudgeData.html
  ts/interfaces/CreateModelData.html
  ts/interfaces/CreateObjectiveData.html
  ts/interfaces/EvaluatorListParams.html
  ts/interfaces/ExecutionLogListParams.html
  ts/interfaces/ExecutionPayload.html
  ts/interfaces/JudgeListParams.html
  ts/interfaces/ListParams.html
  ts/interfaces/ModelListParams.html
  ts/interfaces/ObjectiveListParams.html
  ts/interfaces/PaginatedResponse.html
  ts/interfaces/UpdateJudgeData.html
  ts/interfaces/UpdateModelData.html
  ts/interfaces/UpdateObjectiveData.html
  ts/types/EvaluatorDetail.html
  ts/types/EvaluatorListItem.html
  ts/types/ExecutionLogDetails.html
  ts/types/ExecutionLogList.html
  ts/types/ExecutionResult.html
  ts/types/Judge.html
  ts/types/JudgeDetail.html
  ts/types/JudgeExecutionPayload.html
  ts/types/JudgeExecutionResult.html
  ts/types/ModelDetail.html
  ts/types/ModelList.html
  ts/types/ObjectiveDetail.html
  ts/types/ObjectiveList.html
Due: none

Allow passing response from stdin in CLI
  cli/README.md
  cli/cli.py
  cli/install.sh
  cli/tests/test_cli.py
Due: none

CLI 0.1.2
  cli/pyproject.toml
Due: none

deploy: 4e0aa3b1ef035a335d5bcb915adcda3cc459d320
  cli/cli.py
  cli/install.sh
  ts/classes/DatasetsResource.html
  ts/classes/RootSignals.html
  ts/classes/RootSignalsError.html
  ts/interfaces/ClientConfig.html
  ts/interfaces/CreateJudgeData.html
  ts/interfaces/CreateModelData.html
  ts/interfaces/CreateObjectiveData.html
  ts/interfaces/EvaluatorListParams.html
  ts/interfaces/ExecutionLogListParams.html
  ts/interfaces/ExecutionPayload.html
  ts/interfaces/JudgeListParams.html
  ts/interfaces/ListParams.html
  ts/interfaces/ModelListParams.html
  ts/interfaces/ObjectiveListParams.html
  ts/interfaces/PaginatedResponse.html
  ts/interfaces/UpdateJudgeData.html
  ts/interfaces/UpdateModelData.html
  ts/interfaces/UpdateObjectiveData.html
  ts/types/EvaluatorDetail.html
  ts/types/EvaluatorListItem.html
  ts/types/ExecutionLogDetails.html
  ts/types/ExecutionLogList.html
  ts/types/ExecutionResult.html
  ts/types/Judge.html
  ts/types/JudgeDetail.html
  ts/types/JudgeExecutionPayload.html
  ts/types/JudgeExecutionResult.html
  ts/types/ModelDetail.html
  ts/types/ModelList.html
  ts/types/ObjectiveDetail.html
  ts/types/ObjectiveList.html
Due: none

Bump form-data to 4.0.4
  typescript/package-lock.json
  typescript/package.json
Due: check-sdk-typescript

Bump undici to 7.12.0
  typescript/package-lock.json
  typescript/package.json
Due: check-sdk-typescript

TS SDK 0.1.2
  typescript/CHANGELOG.md
  typescript/package.json
Due: check-sdk-typescript

deploy: 09d27046a39970f8745fdd72d256ac75fda33d41
  ts/classes/DatasetsResource.html
  ts/classes/RootSignals.html
  ts/classes/RootSignalsError.html
  ts/hierarchy.html
  ts/index.html
  ts/interfaces/ClientConfig.html
  ts/interfaces/CreateJudgeData.html
  ts/interfaces/CreateModelData.html
  ts/interfaces/CreateObjectiveData.html
  ts/interfaces/EvaluatorListParams.html
  ts/interfaces/ExecutionLogListParams.html
  ts/interfaces/ExecutionPayload.html
  ts/interfaces/JudgeListParams.html
  ts/interfaces/ListParams.html
  ts/interfaces/ModelListParams.html
  ts/interfaces/ObjectiveListParams.html
  ts/interfaces/PaginatedResponse.html
  ts/interfaces/UpdateJudgeData.html
  ts/interfaces/UpdateModelData.html
  ts/interfaces/UpdateObjectiveData.html
  ts/modules.html
  ts/types/EvaluatorDetail.html
  ts/types/EvaluatorListItem.html
  ts/types/ExecutionLogDetails.html
  ts/types/ExecutionLogList.html
  ts/types/ExecutionResult.html
  ts/types/Judge.html
  ts/types/JudgeDetail.html
  ts/types/JudgeExecutionPayload.html
  ts/types/JudgeExecutionResult.html
  ts/types/ModelDetail.html
  ts/types/ModelList.html
  ts/types/ObjectiveDetail.html
  ts/types/ObjectiveList.html
Due: none

Fix fetching root evaluators without prompt
  python/openapi.yaml
  python/src/root/generated/openapi_aclient/api/evaluators_api.py
  python/src/root/generated/openapi_aclient/models/evaluator.py
  python/src/root/generated/openapi_aclient/models/evaluator_request.py
  python/src/root/generated/openapi_aclient/models/patched_evaluator_request.py
  python/src/root/generated/openapi_client/api/evaluators_api.py
  python/src/root/generated/openapi_client/models/evaluator.py
  python/src/root/generated/openapi_client/models/evaluator_request.py
  python/src/root/generated/openapi_client/models/patched_evaluator_request.py
Due: check-sdk-python

deploy: 96c4872380c0acf227f9813219c1dc2498f9de72
  _sources/autoapi/root/generated/openapi_aclient/models/evaluator/index.rst.txt
  _sources/autoapi/root/generated/openapi_client/models/evaluator/index.rst.txt
  autoapi/root/generated/openapi_aclient/models/evaluator/index.html
  autoapi/root/generated/openapi_client/models/evaluator/index.html
  ts/classes/DatasetsResource.html
  ts/classes/RootSignals.html
  ts/classes/RootSignalsError.html
  ts/interfaces/ClientConfig.html
  ts/interfaces/CreateJudgeData.html
  ts/interfaces/CreateModelData.html
  ts/interfaces/CreateObjectiveData.html
  ts/interfaces/EvaluatorListParams.html
  ts/interfaces/ExecutionLogListParams.html
  ts/interfaces/ExecutionPayload.html
  ts/interfaces/JudgeListParams.html
  ts/interfaces/ListParams.html
  ts/interfaces/ModelListParams.html
  ts/interfaces/ObjectiveListParams.html
  ts/interfaces/PaginatedResponse.html
  ts/interfaces/UpdateJudgeData.html
  ts/interfaces/UpdateModelData.html
  ts/interfaces/UpdateObjectiveData.html
  ts/types/EvaluatorDetail.html
  ts/types/EvaluatorListItem.html
  ts/types/ExecutionLogDetails.html
  ts/types/ExecutionLogList.html
  ts/types/ExecutionResult.html
  ts/types/Judge.html
  ts/types/JudgeDetail.html
  ts/types/JudgeExecutionPayload.html
  ts/types/JudgeExecutionResult.html
  ts/types/ModelDetail.html
  ts/types/ModelList.html
  ts/types/ObjectiveDetail.html
  ts/types/ObjectiveList.html
Due: none

Python SDK 1.6.3
  python/docs/CHANGELOG.md
  python/src/root/__about__.py
Due: check-sdk-python

deploy: ed0585ce180b9091c8cf31116bcbb8d75e2f3307
  CHANGELOG.html
  _sources/CHANGELOG.md.txt
  index.html
  objects.inv
  release_notes.html
  searchindex.js
  ts/classes/DatasetsResource.html
  ts/classes/RootSignals.html
  ts/classes/RootSignalsError.html
  ts/interfaces/ClientConfig.html
  ts/interfaces/CreateJudgeData.html
  ts/interfaces/CreateModelData.html
  ts/interfaces/CreateObjectiveData.html
  ts/interfaces/EvaluatorListParams.html
  ts/interfaces/ExecutionLogListParams.html
  ts/interfaces/ExecutionPayload.html
  ts/interfaces/JudgeListParams.html
  ts/interfaces/ListParams.html
  ts/interfaces/ModelListParams.html
  ts/interfaces/ObjectiveListParams.html
  ts/interfaces/PaginatedResponse.html
  ts/interfaces/UpdateJudgeData.html
  ts/interfaces/UpdateModelData.html
  ts/interfaces/UpdateObjectiveData.html
  ts/types/EvaluatorDetail.html
  ts/types/EvaluatorListItem.html
  ts/types/ExecutionLogDetails.html
  ts/types/ExecutionLogList.html
  ts/types/ExecutionResult.html
  ts/types/Judge.html
  ts/types/JudgeDetail.html
  ts/types/JudgeExecutionPayload.html
  ts/types/JudgeExecutionResult.html
  ts/types/ModelDetail.html
  ts/types/ModelList.html
  ts/types/ObjectiveDetail.html
  ts/types/ObjectiveList.html
Due: none

Reword judge create headers in Python docs
  python/docs/examples.md
Due: check-sdk-python

deploy: 13d22b543c802d2ea75d5e21f18c5d4b090b64d2
  _sources/examples.md.txt
  examples.html
  index.html
  searchindex.js
  ts/classes/DatasetsResource.html
  ts/classes/RootSignals.html
  ts/classes/RootSignalsError.html
  ts/interfaces/ClientConfig.html
  ts/interfaces/CreateJudgeData.html
  ts/interfaces/CreateModelData.html
  ts/interfaces/CreateObjectiveData.html
  ts/interfaces/EvaluatorListParams.html
  ts/interfaces/ExecutionLogListParams.html
  ts/interfaces/ExecutionPayload.html
  ts/interfaces/JudgeListParams.html
  ts/interfaces/ListParams.html
  ts/interfaces/ModelListParams.html
  ts/interfaces/ObjectiveListParams.html
  ts/interfaces/PaginatedResponse.html
  ts/interfaces/UpdateJudgeData.html
  ts/interfaces/UpdateModelData.html
  ts/interfaces/UpdateObjectiveData.html
  ts/types/EvaluatorDetail.html
  ts/types/EvaluatorListItem.html
  ts/types/ExecutionLogDetails.html
  ts/types/ExecutionLogList.html
  ts/types/ExecutionResult.html
  ts/types/Judge.html
  ts/types/JudgeDetail.html
  ts/types/JudgeExecutionPayload.html
  ts/types/JudgeExecutionResult.html
  ts/types/ModelDetail.html
  ts/types/ModelList.html
  ts/types/ObjectiveDetail.html
  ts/types/ObjectiveList.html
Due: none

Add experiments to cli
  cli/cli.py
  cli/experiments.yaml
  cli/pyproject.toml
  cli/tests/test_cli.py
  cli/uv.lock
Due: none

deploy: 6ee50140377de24db6496622dccca6c5408de406
  cli/cli.py
  ts/classes/DatasetsResource.html
  ts/classes/RootSignals.html
  ts/classes/RootSignalsError.html
  ts/interfaces/ClientConfig.html
  ts/interfaces/CreateJudgeData.html
  ts/interfaces/CreateModelData.html
  ts/interfaces/CreateObjectiveData.html
  ts/interfaces/EvaluatorListParams.html
  ts/interfaces/ExecutionLogListParams.html
  ts/interfaces/ExecutionPayload.html
  ts/interfaces/JudgeListParams.html
  ts/interfaces/ListParams.html
  ts/interfaces/ModelListParams.html
  ts/interfaces/ObjectiveListParams.html
  ts/interfaces/PaginatedResponse.html
  ts/interfaces/UpdateJudgeData.html
  ts/interfaces/UpdateModelData.html
  ts/interfaces/UpdateObjectiveData.html
  ts/types/EvaluatorDetail.html
  ts/types/EvaluatorListItem.html
  ts/types/ExecutionLogDetails.html
  ts/types/ExecutionLogList.html
  ts/types/ExecutionResult.html
  ts/types/Judge.html
  ts/types/JudgeDetail.html
  ts/types/JudgeExecutionPayload.html
  ts/types/JudgeExecutionResult.html
  ts/types/ModelDetail.html
  ts/types/ModelList.html
  ts/types/ObjectiveDetail.html
  ts/types/ObjectiveList.html
Due: none

Improve CLI and main readme
  README.md
  cli/README.md
Due: none

Support temporary api keys in cli
  cli/cli.py
  cli/prompt-tests.yaml
  cli/tests/test_cli.py
Due: none

Rename experiments cli group to prompt-tests (pt)
  cli/cli.py
  cli/tests/test_cli.py
Due: none

deploy: e7dc0dd0596b18e49de85f373d6122a14c98c94c
  cli/cli.py
  ts/classes/DatasetsResource.html
  ts/classes/RootSignals.html
  ts/classes/RootSignalsError.html
  ts/interfaces/ClientConfig.html
  ts/interfaces/CreateJudgeData.html
  ts/interfaces/CreateModelData.html
  ts/interfaces/CreateObjectiveData.html
  ts/interfaces/EvaluatorListParams.html
  ts/interfaces/ExecutionLogListParams.html
  ts/interfaces/ExecutionPayload.html
  ts/interfaces/JudgeListParams.html
  ts/interfaces/ListParams.html
  ts/interfaces/ModelListParams.html
  ts/interfaces/ObjectiveListParams.html
  ts/interfaces/PaginatedResponse.html
  ts/interfaces/UpdateJudgeData.html
  ts/interfaces/UpdateModelData.html
  ts/interfaces/UpdateObjectiveData.html
  ts/types/EvaluatorDetail.html
  ts/types/EvaluatorListItem.html
  ts/types/ExecutionLogDetails.html
  ts/types/ExecutionLogList.html
  ts/types/ExecutionResult.html
  ts/types/Judge.html
  ts/types/JudgeDetail.html
  ts/types/JudgeExecutionPayload.html
  ts/types/JudgeExecutionResult.html
  ts/types/ModelDetail.html
  ts/types/ModelList.html
  ts/types/ObjectiveDetail.html
  ts/types/ObjectiveList.html
Due: none

Fix input format in prompt testing yaml
  cli/cli.py
  cli/experiments.yaml
  cli/prompt-tests.yaml
  cli/pyproject.toml
  cli/tests/test_cli.py
  cli/uv.lock
Due: none

Update python SDK openapi schema
  python/openapi.yaml
  python/src/root/generated/openapi_aclient/api/execution_logs_api.py
  python/src/root/generated/openapi_aclient/api/judges_api.py
  python/src/root/generated/openapi_aclient/models/__init__.py
  python/src/root/generated/openapi_aclient/models/judge.py
  python/src/root/generated/openapi_aclient/models/judge_list.py
  python/src/root/generated/openapi_aclient/models/judge_request.py
  python/src/root/generated/openapi_aclient/models/judge_status_enum.py
  python/src/root/generated/openapi_aclient/models/patched_judge_request.py
  python/src/root/generated/openapi_aclient/models/visibility_enum.py
  python/src/root/generated/openapi_aclient_README.md
  python/src/root/generated/openapi_client/api/execution_logs_api.py
  python/src/root/generated/openapi_client/api/judges_api.py
  python/src/root/generated/openapi_client/models/__init__.py
  python/src/root/generated/openapi_client/models/judge.py
  python/src/root/generated/openapi_client/models/judge_list.py
  python/src/root/generated/openapi_client/models/judge_request.py
  python/src/root/generated/openapi_client/models/judge_status_enum.py
  python/src/root/generated/openapi_client/models/patched_judge_request.py
  python/src/root/generated/openapi_client/models/visibility_enum.py
  python/src/root/generated/openapi_client_README.md
  python/src/root/judges.py
Due: check-sdk-python

Update TS SDK openapi schema
  typescript/src/generated/types.ts
  typescript/src/resources/judges.ts
  typescript/src/types/common.ts
  typescript/tests/unit/judges.test.ts
Due: check-sdk-typescript

deploy: c7b82fb8ea3889d07c98807c2bf3bfa3fd556006
  cli/cli.py
  ts/classes/DatasetsResource.html
  ts/classes/RootSignals.html
  ts/classes/RootSignalsError.html
  ts/interfaces/ClientConfig.html
  ts/interfaces/CreateJudgeData.html
  ts/interfaces/CreateModelData.html
  ts/interfaces/CreateObjectiveData.html
  ts/interfaces/EvaluatorListParams.html
  ts/interfaces/ExecutionLogListParams.html
  ts/interfaces/ExecutionPayload.html
  ts/interfaces/JudgeListParams.html
  ts/interfaces/ListParams.html
  ts/interfaces/ModelListParams.html
  ts/interfaces/ObjectiveListParams.html
  ts/interfaces/PaginatedResponse.html
  ts/interfaces/UpdateJudgeData.html
  ts/interfaces/UpdateModelData.html
  ts/interfaces/UpdateObjectiveData.html
  ts/types/EvaluatorDetail.html
  ts/types/EvaluatorListItem.html
  ts/types/ExecutionLogDetails.html
  ts/types/ExecutionLogList.html
  ts/types/ExecutionResult.html
  ts/types/Judge.html
  ts/types/JudgeDetail.html
  ts/types/JudgeExecutionPayload.html
  ts/types/JudgeExecutionResult.html
  ts/types/ModelDetail.html
  ts/types/ModelList.html
  ts/types/ObjectiveDetail.html
  ts/types/ObjectiveList.html
Due: none

Python SDK 1.6.4
  python/docs/CHANGELOG.md
  python/src/root/__about__.py
Due: check-sdk-python

TypeScript SDK 0.1.3
  typescript/CHANGELOG.md
  typescript/package-lock.json
  typescript/package.json
Due: check-sdk-typescript

CLI 0.1.4
  cli/pyproject.toml
Due: none

deploy: 7421474d828aca49e134076d0e4aeaeef64cbce7
  CHANGELOG.html
  _sources/CHANGELOG.md.txt
  index.html
  objects.inv
  release_notes.html
  searchindex.js
  ts/classes/DatasetsResource.html
  ts/classes/RootSignals.html
  ts/classes/RootSignalsError.html
  ts/hierarchy.html
  ts/index.html
  ts/interfaces/ClientConfig.html
  ts/interfaces/CreateJudgeData.html
  ts/interfaces/CreateModelData.html
  ts/interfaces/CreateObjectiveData.html
  ts/interfaces/EvaluatorListParams.html
  ts/interfaces/ExecutionLogListParams.html
  ts/interfaces/ExecutionPayload.html
  ts/interfaces/JudgeListParams.html
  ts/interfaces/ListParams.html
  ts/interfaces/ModelListParams.html
  ts/interfaces/ObjectiveListParams.html
  ts/interfaces/PaginatedResponse.html
  ts/interfaces/UpdateJudgeData.html
  ts/interfaces/UpdateModelData.html
  ts/interfaces/UpdateObjectiveData.html
  ts/modules.html
  ts/types/EvaluatorDetail.html
  ts/types/EvaluatorListItem.html
  ts/types/ExecutionLogDetails.html
  ts/types/ExecutionLogList.html
  ts/types/ExecutionResult.html
  ts/types/Judge.html
  ts/types/JudgeDetail.html
  ts/types/JudgeExecutionPayload.html
  ts/types/JudgeExecutionResult.html
  ts/types/ModelDetail.html
  ts/types/ModelList.html
  ts/types/ObjectiveDetail.html
  ts/types/ObjectiveList.html
Due: none

Fix missing request/response in examples
  python/examples/execution_logs.py
  python/examples/preset_evaluator.py
Due: check-sdk-python

Regenerate typescript types
  typescript/src/generated/types.ts
Due: check-sdk-typescript
