Repository root-signals/rs-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-sdk-python, check-sdk-typescript

check-sdk-python:
  name: Run Python checks
  language: system
  pass_filenames: false
  entry: make -C python pre-commit

check-sdk-typescript:
  name: Run TypeScript checks
  language: system
  pass_filenames: false
  entry: npm --prefix typescript run ci-pr-check

Typescript SDK 0.1.4
  typescript/package-lock.json
  typescript/package.json
Due: check-sdk-typescript

Python SDK 1.6.5
  python/src/root/__about__.py
Due: check-sdk-python

Remove functions parameter from SDKs and CLI
  cli/README.md
  cli/cli.py
  cli/tests/test_cli.py
  cli/uv.lock
  python/src/scorable/judges.py
  python/src/scorable/skills.py
  typescript/src/generated/types.ts
  typescript/src/types/common.ts
Due: check-sdk-python, check-sdk-typescript

New versions of all packages
  cli/pyproject.toml
  cli/uv.lock
  python/docs/CHANGELOG.md
  python/src/scorable/__about__.py
  typescript/CHANGELOG.md
  typescript/package-lock.json
  typescript/package.json
Due: check-sdk-python, check-sdk-typescript

Update CNAME
  CNAME
Due: none

Replace Root Signals logos with Scorable logos
  README.md
  cli/README.md
  python/README.md
  python/docs/index.rst
  python/docs/root_signals+bounding_box.svg
  python/docs/root_signals_black_logo.svg
  python/docs/root_signals_white_logo.svg
  python/docs/scorable-dark.svg
  python/docs/scorable-light.svg
  typescript/README.md
Due: check-sdk-python

deploy: 9de9be370733d50ee187d2d7d73253f429023c59
  CNAME
  _images/root_signals_black_logo.svg
  _images/root_signals_white_logo.svg
  _images/scorable-dark.svg
  _images/scorable-light.svg
  _sources/index.rst.txt
  index.html
  ts/classes/DatasetsResource.html
  ts/classes/Scorable.html
  ts/classes/ScorableError.html
  ts/index.html
  ts/interfaces/ClientConfig.html
  ts/interfaces/CreateJudgeData.html
  ts/interfaces/CreateModelData.html
  ts/interfaces/CreateObjectiveData.html
  ts/interfaces/EvaluatorListParams.html
  ts/interfaces/ExecutionLogListParams.html
  ts/interfaces/ExecutionPayload.html
  ts/interfaces/JudgeListParams.html
  ts/interfaces/ListParams.html
  ts/interfaces/ModelListParams.html
  ts/interfaces/ObjectiveListParams.html
  ts/interfaces/PaginatedResponse.html
  ts/interfaces/UpdateJudgeData.html
  ts/interfaces/UpdateModelData.html
  ts/interfaces/UpdateObjectiveData.html
  ts/types/EvaluatorDetail.html
  ts/types/EvaluatorListItem.html
  ts/types/ExecutionLogDetails.html
  ts/types/ExecutionLogList.html
  ts/types/ExecutionResult.html
  ts/types/Judge.html
  ts/types/JudgeDetail.html
  ts/types/JudgeExecutionPayload.html
  ts/types/JudgeExecutionResult.html
  ts/types/ModelDetail.html
  ts/types/ModelList.html
  ts/types/ObjectiveDetail.html
  ts/types/ObjectiveList.html
Due: none

Fix CNAME in GitHub Pages workflow
  .github/workflows/generate-documentation.yaml
Due: none

Bump TypeScript SDK dependencies
  typescript/package-lock.json
  typescript/package.json
  typescript/src/resources/datasets.ts
  typescript/tests/helpers/mock-client.ts
Due: check-sdk-typescript

deploy: 3508ccab94dcc62ac46b0e781d457d47b701064a
  CNAME
  ts/assets/highlight.css
  ts/assets/main.js
  ts/assets/style.css
  ts/classes/DatasetsResource.html
  ts/classes/Scorable.html
  ts/classes/ScorableError.html
  ts/index.html
  ts/interfaces/ClientConfig.html
  ts/interfaces/CreateJudgeData.html
  ts/interfaces/CreateModelData.html
  ts/interfaces/CreateObjectiveData.html
  ts/interfaces/EvaluatorListParams.html
  ts/interfaces/ExecutionLogListParams.html
  ts/interfaces/ExecutionPayload.html
  ts/interfaces/JudgeListParams.html
  ts/interfaces/ListParams.html
  ts/interfaces/ModelListParams.html
  ts/interfaces/ObjectiveListParams.html
  ts/interfaces/PaginatedResponse.html
  ts/interfaces/UpdateJudgeData.html
  ts/interfaces/UpdateModelData.html
  ts/interfaces/UpdateObjectiveData.html
  ts/types/EvaluatorDetail.html
  ts/types/EvaluatorListItem.html
  ts/types/ExecutionLogDetails.html
  ts/types/ExecutionLogList.html
  ts/types/ExecutionResult.html
  ts/types/Judge.html
  ts/types/JudgeDetail.html
  ts/types/JudgeExecutionPayload.html
  ts/types/JudgeExecutionResult.html
  ts/types/ModelDetail.html
  ts/types/ModelList.html
  ts/types/ObjectiveDetail.html
  ts/types/ObjectiveList.html
Due: none

Path conditions:
  check-sdk-python: any of: ^python/ and \.(md|markdown|mdown)$, \.py$
  check-sdk-typescript: any of: ^typescript/ and \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$
